<a class="anchor" id="About_Data"></a>
# <p style="padding:10px;background-color:#f6cd04;margin:0;color:#0c4da3;font-family:newtimeroman;font-size:150%;text-align:center;border-radius: 20px 20px;overflow:hidden;font-weight:500">Police üö®üëÆ‚Äç‚ôÄ</p>

<img src="https://media0.giphy.com/media/G825ArmDSn6Ue5g152/giphy.gif?cid=6c09b952m7vzpzgzjpmdnsq601p0jwqqiksohe8x8tzgbl0f&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g" width="100%" height="100%">

<a class="anchor" id="About_Data"></a>
# <p style="padding:10px;background-color:#f6cd04;margin:0;color:#0c4da3;font-family:newtimeroman;font-size:150%;text-align:center;border-radius: 15px 50px;overflow:hidden;font-weight:500">Introduction  üöì</p>

<div style = 'border : 5px solid #0c4da3; background-color:lightred;padding:10px'>

This project uses `Python's Pandas library` to clean and analyze 
[Police traffic Dataset](https://www.kaggle.com/datasets/melihkanbay/police/data).

The goal is to `practice data analysis` by identifying and fixing issues like missing values and inconsistencies in the dataset.

<a class="anchor" id="Cleaning_Data"></a>
# <p style="padding:10px;background-color:#f6cd04;margin:0;color:#0c4da3;font-family:newtimeroman;font-size:150%;text-align:center;border-radius: 50px 15px;overflow:hidden;font-weight:500">Data Cleaning  üîçüõ†</p>

In [1]:
import pandas as pd
import warnings
warnings.simplefilter("ignore")

In [2]:
police = pd.read_csv("police.csv")

In [3]:
police.head().style.background_gradient(cmap='Blues')

In [4]:
police.shape

(91741, 15)

In [5]:
police.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 9.3+ MB

In [6]:
police.dtypes

stop_date              object
stop_time              object
county_name           float64
driver_gender          object
driver_age_raw        float64
driver_age            float64
driver_race            object
violation_raw          object
violation              object
search_conducted         bool
search_type            object
stop_outcome           object
is_arrested            object
stop_duration          object
drugs_related_stop       bool
dtype: object

In [7]:
police.isnull().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [8]:
police.describe().style.background_gradient(cmap = "Blues")

In [9]:
police.describe(include='O').T

               count unique                 top   freq
stop_date      91741   3768          2012-01-11     69
stop_time      91741   1436               11:00    323
driver_gender  86406      2                   M  62895
driver_race    86408      5               White  62158
violation_raw  86408     12            Speeding  48463
violation      86408      6            Speeding  48463
search_type     3196     24  Incident to Arrest   1219
stop_outcome   86408      6            Citation  77006
is_arrested    86408      2               False  83479
stop_duration  86408      5            0-15 Min  69543

<div style = 'border : 5px solid #0c4da3; background-color:lightred;padding:10px'>

#### <u><span style="color:#08306B;">  Observation: </span></u>
 - The police dataset consists of  `91741 rows` and `15 columns`.
 - It has all `NAN` values in `"county_name"` column.
 - There are some coloumns that have uncorrect data type.

In [10]:
police = police.drop(
    labels='county_name',
    axis=1)

In [11]:
police.head().style.background_gradient(cmap='Blues')

In [12]:
<a class="anchor" id="Cleaning_Data"></a>
# <p style="padding:10px;background-color:#f6cd04;margin:0;color:#0c4da3;font-family:newtimeroman;font-size:150%;text-align:center;border-radius: 50px 15px;overflow:hidden;font-weight:500">Data Cleaning  üîçüõ†</p>

SyntaxError: invalid syntax (172724457.py, line 1)

In [13]:
police.duplicated().sum()

479

In [14]:
police.drop_duplicates(inplace = True)

In [15]:
police.head().style.background_gradient(cmap='Blues')

In [16]:
police.duplicated().sum()

0

In [ ]:
<a class="anchor" id="Cleaning_Data"></a>
# <p style="padding:10px;background-color:#f6cd04;margin:0;color:#0c4da3;font-family:newtimeroman;font-size:150%;text-align:center;border-radius: 50px 15px;overflow:hidden;font-weight:500">Data Cleaning  üîçüõ†</p>

In [17]:
def missing_values_table(df):
  mis_val = df.isnull().sum()
  mis_val_percent = 100*df.isnull().sum() / len(df)
  mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
  mis_val_table_ren_columns = mis_val_table.rename(columns = {0:'Missing Values' , 1:'of Total Values %'})
  return mis_val_table_ren_columns.round(2)

In [18]:
print("Missing In Police Data BEFORE :- ")
missing_values_table(police).style.background_gradient(cmap='Blues')

Missing In Police Data BEFORE :-

- #### <span style="color:#08306B;"> From the previous table `'search_type'` Column has more than `50% null values`, So let's `drop` it. </span>

In [19]:
police.drop('search_type', axis=1 , inplace=True)

- #### <span style="color:#08306B;">  There are about `5123` Nan rows, So let's `drop` it.</span>

In [20]:
police.dropna(subset = ['driver_race'], inplace=True)

In [21]:
print("Missing In Police Data :- ")
missing_values_table(police).style.background_gradient(cmap='Blues')

Missing In Police Data :-

- #### <span style="color:#08306B;">  `'driver_age'` and `'driver_gender'` columns also have null values, So how we can deal with them. </span>

In [22]:
police['driver_age'].unique()

array([20., 40., 33., 19., 21., 23., 36., 35., 26., 39., 50., 47., 52.,
       38., 41., 28., 46., 32., 58., 27., 43., 24., 17., 22., 44., 48.,
       34., 55., 51., 45., 29., 31., 37., 67., 25., 42., 30., 18., 57.,
       49., 61., 70., nan, 53., 60., 59., 64., 63., 54., 56., 66., 62.,
       69., 81., 68., 76., 75., 74., 82., 65., 72., 16., 77., 73., 71.,
       80., 79., 78., 88., 15., 83., 86., 84., 85., 87., 99., 89., 94.,
       90.])

In [23]:
mean_age = police['driver_age'].mean()

In [24]:
police['driver_age'] = police['driver_age'].fillna(mean_age)

In [25]:
police['driver_gender'].unique()

array(['M', 'F', nan], dtype=object)

In [31]:
police.dropna(subset = ['driver_gender','driver_age_raw'], inplace=True)

In [32]:
print("Missing In Police Data After :- ")
missing_values_table(police).style.background_gradient(cmap='Blues')

Missing In Police Data After :-

- #### <span style="color:#08306B;">  Now our data is free of missing values `:)` </span>

In [45]:
police.head().style.background_gradient(cmap='Blues')

In [48]:
police.insert(1,'stop_year',0)
police['stop_year'] = police['stop_date'].str[:4]

ValueError: cannot insert stop_year, already exists

In [47]:
police.head().style.background_gradient(cmap='Blues')